/BeybladeExample/nbproject/private/
/BeybladeExample/build/
/Memory Game/nbproject/private/
/Memory Game/build/
/Singers/nbproject/private/
/Singers/build/
/CityTour/nbproject/private/
/CityTour/build/